<div class="container">
    <form class="form">

        <h2>Help Desk - Programando para Trabalho</h2>

        <img src="assets/img/login.svg" alt="Imagem de Login">

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
          [formControl]="email"
          required
          [(ngModel)]="creds.email"
          name="email"
          matInput
          placeholder="Ex. nome@mail.com">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input
            [formControl]="senha"
            required
            [(ngModel)]="creds.senha"
            name="senha"
            type="password"
            matInput
            placeholder="Ex. ****">
        </mat-form-field>
            
        <button [disabled]="!validaCampos()" class="full-width-but" mat-stroked-button color="primary">E n t r a r</button>
              
    </form>
</div>